<footer>
  <div class="wrapper">
    <span class="caption">Contact</span>
    <ul>
      <li>
        Cornelia Auer<br />
        Potsdam Institute for Climate Impact Research<br />
        14412 Potsdam<br />
        Germany
      </li>
      <li>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
      </li>
      <li>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
      </li>
      <li>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
      </li>
    </ul>
  </div>
</footer> 