<footer id="contact">
  <div class="wrapper">
    <span class="caption">Contact</span>
    <ul>
      <li>
        <strong>Cornelia Auer</strong><br />
        Potsdam Institut für Klimafolgenforschung (PIK)<br />
        Telegrafenberg A31<br />
        14473 Potsdam<br /><br />

        PO Box 601203<br />
        14412 Potsdam<br /><br />

        Tel: +49-331-288-20787<br />
        e-mail: <a href="&#0109;&#097;&#0105;&#0108;&#0116;&#0111;&#058;&#099;&#0111;&#0114;&#0110;&#0101;&#0108;&#0105;&#097;&#046;&#097;&#0117;&#0101;&#0114;&#064;&#0112;&#0105;&#0107;&#045;&#0112;&#0111;&#0116;&#0115;&#0100;&#097;&#0109;&#046;&#0100;&#0101;">&#099;&#0111;&#0114;&#0110;&#0101;&#0108;&#0105;&#097;&#046;&#097;&#0117;&#0101;&#0114;&#064;&#0112;&#0105;&#0107;&#045;&#0112;&#0111;&#0116;&#0115;&#0100;&#097;&#0109;&#046;&#0100;&#0101;</a>
      </li>

    </ul>
  </div>
  <div class="wrapper">
    <span class="caption">Funded by</span>
    <ul class="funders">
      <li><a href="https://www.bmbf.de/en/index.html" alt="Federal Ministry of Education and Research"><img src="assets/logo_BMBF.svg" /></a></li>
      <li><img src="assets/logo_EU.svg" alt="European Union" /></li>
      <li><br /></li>
      <li><br /></li>
      <li><br /></li>
    </ul>
  </div>
</footer>