<footer id="contact">
  <div class="wrapper">
    <span class="caption">Contact</span>
    <ul>
      <li>
        <address itemscope itemtype="http://schema.org/Person" class="vcard">
          <strong class="fn">Cornelia Auer</strong><br />
          <span class="org">Potsdam Institut für Klimafolgenforschung (PIK)</span><br />
          <div class="adr">
            <span class="street-address">Telegrafenberg A31</span><br />
            <span class="postal-code">14473</span> <span class="locality">Potsdam</span><br /><br />
          </div>

          PO Box 601203<br />
          14412 Potsdam<br /><br />

          Tel: <span class="tel" itemprop="telephone"><a href="tel:+4933128820787" >+49-331-288-20787</a></span><br />
          e-mail: <a href="&#0109;&#097;&#0105;&#0108;&#0116;&#0111;&#058;&#099;&#0111;&#0114;&#0110;&#0101;&#0108;&#0105;&#097;&#046;&#097;&#0117;&#0101;&#0114;&#064;&#0112;&#0105;&#0107;&#045;&#0112;&#0111;&#0116;&#0115;&#0100;&#097;&#0109;&#046;&#0100;&#0101;" class="email" itemprop="email">&#099;&#0111;&#0114;&#0110;&#0101;&#0108;&#0105;&#097;&#046;&#097;&#0117;&#0101;&#0114;&#064;&#0112;&#0105;&#0107;&#045;&#0112;&#0111;&#0116;&#0115;&#0100;&#097;&#0109;&#046;&#0100;&#0101;</a>
        </address>
      </li>
    </ul>
  </div>
  <div class="wrapper">
    <span class="caption">Funded by</span>
    <span class="org">The project runs from 2017 to 2020. The project SENSES is part of the European Research Area for Climate Services (ERA4CS), an ERA-NET initiated by JPI Climate. It is funded by BMBF (DE), BMWFW (AT), NWO (NL), FORMAS (SE) with co-funding by the European Union (Grant 690462). <a href="http://www.jpi-climate.eu/ERA4CS">(ERA4CS)</a>.</span>
    <ul class="funders">
      <li><img src="assets/logo_EU.svg" alt="European Union" style="width: 70%" /></li>
      <li><a href="http://www.jpi-climate.eu/"><img src="assets/logo_JPI.png" alt="Joint Programming Initiative Climate" target="_blank"/></a></li>
      <li><a href="https://www.bmbf.de/en/index.html"><img src="assets/logo_BMBF.svg" alt="Federal Ministry of Education and Research" target="_blank"/></a></li>
      <li><a href="http://www.dlr.de/"><img src="assets/logo_DLR.svg" alt="German Aerospace Center" style="width: 60%" target="_blank"/></a></li>
      <li><a href="https://www.nwo.nl/"><img src="assets/logo_nwo.svg" alt="The Netherlands Organisation for Scientific Research" style="width: 70%" target="_blank"/></a></li>
      <li><a href="http://www.formas.se/"><img src="assets/logo_formas.svg" alt="The Swedish Research Council for Environment, Agricultural Sciences and Spatial Planning" style="margin-top: 2em" target="_blank"/></a></li>
    </ul>
  </div>
</footer>
<footer id="impressum">
  <div class="wrapper">
    <span class="caption">Impressum</span>
    The following information contains the statutory, mandatory information on the provider identification, data protection information requirements, as well as other important legal notes regarding this Website.<br/><br/>
    Provider:<br/>
    The legal provider of this website is the Potsdam Institute for Climate Impact Research (PIK).<br/>
    Address:<br/>
    Telegrafenberg A 31<br/>
	      14473 Potsdam<br/>
	      Germany<br/>
    Phone: +49-(0)331/288-2500<br/>
    Fax: +49-(0)331/288-2600 <br/>
    e-mail: <a href="&#0109;&#097;&#0105;&#0108;&#0116;&#0111;&#058;&#099;&#0111;&#0114;&#0110;&#0101;&#0108;&#0105;&#097;&#046;&#097;&#0117;&#0101;&#0114;&#064;&#0112;&#0105;&#0107;&#045;&#0112;&#0111;&#0116;&#0115;&#0100;&#097;&#0109;&#046;&#0100;&#0101;" class="email" itemprop="email">&#099;&#0111;&#0114;&#0110;&#0101;&#0108;&#0105;&#097;&#046;&#097;&#0117;&#0101;&#0114;&#064;&#0112;&#0105;&#0107;&#045;&#0112;&#0111;&#0116;&#0115;&#0100;&#097;&#0109;&#046;&#0100;&#0101;</a>
  </div>	 
  <div class="wrapper">
    Court of registration: PIK is registered with the local court of Potsdam under registration number VR 1038.<br/>
    Representative: PIK is being represented by the Director, Professor Hans Joachim Schellnhuber CBE.
  </div>
</footer>
