<header class="page-header">
  <div class="wrapper">
    <nav>
      <a href="{{ site.url }}" rel="index" role="banner">
        <h1 id="logo"><strong>Senses</strong> Project</h1>
      </a>
      <aside role="navigation">
        <ul>
          <li><a href="{{ site.url }}">About the Project</a></li>
          <li><a href="{{ site.url }}/stakeholders">The Stakeholders</a></li>
          <li><a href="{{ site.url }}/imprint">Imprint and Privacy</a></li>
        </ul>
      </aside>
    </nav>
  </div>
</header>
