<header>
  <div class="wrapper">
    <nav>
      <a href="{{ site.url }}" rel="index">
        <h1 id="logo"><strong>Senses</strong> Project</h1>
      </a>
      <aside class="mobile-invisible">
        <ul>
          <li><a href="#">About the project</a></li>
          <li><a href="#">Stakeholder</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </aside>
    </nav>
    <section class="description">
      <div>
        <hgroup>
          <h2>We are developing a tailor-made, userdetermined Climate Change Scenario Toolkit connecting the new generation of climate community scenarios to selected user and stakeholder groups.</h2>
          <h3>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum:</h3>
        </hgroup>
        <ul class="consortium">
          <li><a href="https://www.pik-potsdam.de/"><figure><img src="assets/logo_PIK.svg" /><figcaption>Potsdam Institute for Climate Impact Research</figcaption></figure></a></li>
          <li><a href="http://www.iiasa.ac.at/"><figure><img src="assets/logo_IIASA.svg" /><figcaption>International Institute for Applied Systems Analysis</figcaption></figure></a></li>
          <li><a href="https://www.sei-international.org/"><figure><img src="assets/logo_SEI.svg" /><figcaption>Stockholm Environment Institute</figcaption></figure></a></li>
          <li><a href="http://www.wur.nl/"><figure><img src="assets/logo_WUR.svg" /><figcaption>Wageningen University & Research</figcaption></figure></a></li>
          <li><a href="https://www.fh-potsdam.de/"><figure><img src="assets/logo_FHP.svg" /><figcaption>University of Applied Sciences Potsdam</figcaption></figure></a></li>
        </ul>
      </div>
    </section>
  </div>
</header>
