<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name=viewport content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
  <meta name=description content="Senses Project" />
  <meta name="language" content="en" />
  <title>{{ site.title | escape }}</title>
  <script src="https://use.typekit.net/jet6uzg.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <link rel="stylesheet" type="text/css" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
</head>

<head>
