<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Senses Project</title>
  <meta name="description" content="The Senses Project make climate change scenarios more understandable through visualisation">
  <link rel="icon" sizes="192x192" href="https://dev.climatescenarios.org/favicon-192.png">
  <link rel="apple-touch-icon" href="https://dev.climatescenarios.org/favicon-192.png">
  <link rel="mask-icon" href="https://dev.climatescenarios.org/favicon-svg.png" color="#5263ff">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Senses Project">
  <meta property="og:description" content="The Senses Project make climate change scenarios more understandable through visualisation">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Senses Project">
  <meta name="twitter:description" content="The Senses Project make climate change scenarios more understandable through visualisation">
  <base href="{{ site.url }}">
  <link href="{{ "/assets/main.css" | relative_url }}" rel="stylesheet" type="text/css">
</head>
