@charset "utf-8";

// Define defaults for each variable.

$font-family-default: "ronnia", "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", Helvetica, sans-serif !default;
$font-family-alternative: "europa", "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", Helvetica, sans-serif !default;
// $base-font-size:   16px !default;
$base-font-weight: 400 !default;
// $small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.7 !default;

$spacing-unit:     2rem !default;

$text-color:       #222 !default;
// $background-color: #fdfdfd !default;
$brand-color:      #2a7ae2 !default;

// $grey-color:       #828282 !default;
// $grey-color-light: lighten($grey-color, 40%) !default;
// $grey-color-dark:  darken($grey-color, 25%) !default;

// // Width of the content area
// $content-width:    800px !default;

// $on-palm:          600px !default;
// $on-laptop:        800px !default;

// // Use media queries like this:
// // @include media-query($on-palm) {
// //   .wrapper {
// //     padding-right: $spacing-unit / 2;
// //     padding-left: $spacing-unit / 2;
// //   }
// // }
// @mixin media-query($device) {
//   @media screen and (max-width: $device) {
//     @content;
//   }
// }

// @mixin relative-font-size($ratio) {
//   font-size: $base-font-size * $ratio;
// }

// // Import partials.
// @import
//   "minima/base",
//   "minima/layout",
//   "minima/syntax-highlighting"
// ;

$on-palm:          600px !default;
$on-laptop:        800px !default;

@mixin media-query($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

// Import partials.
@import
  "normalize",
  "minima/base",
  "minima/typography",
  "minima/layout"
;

html {
  font: normal normal 105%/1.7 $font-family-default;
  color: $text-color;
}

input {
	font-family: $font-family-default;
}

header {
  background-color: #fcfcfc;
  font-weight: 300;

  a {
    color: $text-color;
  }
}

address {
	font-style: inherit;
}

.container {
  background-color: #f7f7f7;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.mobile-invisible {
	visibility: hidden;
  clear: both;
  display: none;
}

@include media-query($on-palm) {
  .mobile-invisible {
  	visibility: visible;
    display: inherit;
  }
}

// @include media-query($on-laptop) {
//   .mobile-invisible {
//   	visibility: hidden;
//     clear: both;
//     display: none;
//   }
// }
