@charset "utf-8";

$font-family-default: "ronnia", "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", Helvetica, sans-serif !default;
$font-family-alternative: "europa", "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", Helvetica, sans-serif !default;
$base-font-weight: 400 !default;
$base-line-height: 1.7 !default;

$spacing-unit:     2rem !default;

$text-color:       #222 !default;
$brand-color:      #2a7ae2 !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

@mixin media-query($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

// Import partials.
@import
  "normalize",
  "typography",
  "layout"
;

html {
  font: normal normal 105%/1.7 $font-family-default;
  color: $text-color;
}

input {
	font-family: $font-family-default;
}

.page-header {
  background-color: #fcfcfc;
  font-weight: 300;
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;

  a {
    color: $text-color;
  }

  .wrapper {
    margin-top: 0;
  }
}

.page-footer {
  background-color: #fcfcfc;
}

address {
	font-style: inherit;
}

// .container {
//   background-color: #f7f7f7;
// }

// .center {
//   text-align: center;
//   margin-top: $spacing-unit;
// }

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.mobile-invisible {
	visibility: hidden;
  clear: both;
  display: none;
}

@include media-query($on-palm) {
  .mobile-invisible {
  	visibility: visible;
    display: inherit;
  }
}

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/**
 * Basic styling
 */
body {
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
  display: block;
}

ul, ol {
  list-style: none;
}

li {
  > ul,
  > ol {
    margin: 0;
    padding: 0;
  }
}

nav li, nav ol {
  display: inline-block;
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
}

/**
 * Links
 */
a {
  color: #222;
  text-decoration: none;

  &:visited {
    color: darken(#222, 15%);
  }

  &:hover, &:focus {
    > p {
      color: #000;
      text-decoration: underline;
    }
  }
}
