@charset "utf-8";

@import
  "normalize",
  "variables",
  "mixins",
  "typography",
  "layout",
  "fonts"
;

html {
  font: normal normal 105%/1.7 $font-family-default;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: $font-weight-default;
  font-kerning: normal;
  color: $text-color;
}

input {
	font-family: $font-family-default;
}

.page-header {
  background-color: #fcfcfc;
  font-weight: 300;
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;

  a {
    color: $text-color;
  }

  .wrapper {
    margin-top: 0;
  }
}

.page-footer {
  background-color: #fcfcfc;
}

address {
	font-style: inherit;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.mobile-invisible {
	visibility: hidden;
  clear: both;
  display: none;
}

@include media-query($on-palm) {
  .mobile-invisible {
  	visibility: visible;
    display: inherit;
  }
}

img {
  max-width: 100%;
  vertical-align: middle;
}

figure > img {
  display: block;
}

ul, ol {
  list-style: none;
}

li {
  > ul,
  > ol {
    margin: 0;
    padding: 0;
  }
}

nav li, nav ol {
  display: inline-block;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $font-weight-bold;
}

a {
  color: #222;
  text-decoration: none;

  &:visited {
    color: darken(#222, 15%);
  }

  &:hover, &:focus {
    > p {
      color: #000;
      text-decoration: underline;
    }
  }
}
