h1, h2, h3, h4 {
  font-weight: $font-weight-bold;
}

h1 strong {
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

h2 {
  font-weight: $font-weight-default;
  font-size: 1.2em;
  line-height: 1.4em;
}

.introduction {
  p {
    font-size: 1em;
  }
}

p {
  display: block;
  margin-top: 0;
}

.introduction {
  li {
    list-style-position: outside;
    padding-left: $spacing;
    text-indent: -1em;

    &:before {
      content: "– ";
      color: $color-accent;
      margin-right: 0.2em;
    }
  }
}

.container {
  li {
    margin-bottom: 1em;
  }
}

h4 {
  line-height: 1.2em;
  font-size: 1.8em;
  margin: 0;
  font-weight: $font-weight-bold;
  padding-bottom: 1em;
  padding-right: 2em;
}

.location {
  color: $color-mute;
  font-size: 0.85rem;
  line-height: 1.2;
  display: inline-block;
}

@include media-query($narrow) {
  h2 {
    font-size: 1.6em;
  }
}

@include media-query($medium) {
  h2 {
    font-size: 2em;
  }
}

nav aside {
  font-size: 0.85rem;
  font-weight: $font-weight-default;

  a {
    color: $color-interactive;

    &:hover, &:focus, &.active {
      color: $color-interactive;
    }
  }
}

input.email {
  margin: 0;
  color: #222;
  font-weight: 300;
  letter-spacing: 0.03em;
  padding: $spacing / 3 $spacing / 3;
  text-align: left;

  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba(0, 0, 0, 0.3);
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: rgba(0, 0, 0, 0.3);
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: rgba(0, 0, 0, 0.3);
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: rgba(0, 0, 0, 0.3);
  }

  &.mce_inline_error {
    color: #C3272B;
  }
}

.consortium {
  text-align: center;

  a:hover, a:focus {
    figcaption {
      color: #2c3e50;
    }
  }
}

figcaption {
  color: #999;
  font-size: 0.7em;
  line-height: 1.2em;
}

.caption {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 0.7rem;
  display: block;
  width: 100%;
  color: $color-mute;
}

strong {
  font-weight: bold;
}

p a {
  color: $color-default;
  text-decoration: underline;
  text-decoration-color: $color-interactive;

  &:hover, &:focus {
    color: $color-interactive-active;
  }
}

article {
  p, blockquote {
    color: #34495e;
    font-weight: 300;
    font-size: 1em;
    hyphens: auto;

    sup {
      color: darken($color-accent, 10%);
      padding: 0 0.5em;
    }

    i {
      font-style: italic;
    }

    a {
      color: #34495e;
      border-bottom: 1px solid $color-accent;

      &[href^='#'], &:not([href]) {
        border-bottom: 0;
      }

      &:hover, &:focus {
        color: #222;
      }
    }
  }

  blockquote {
    font-style: italic;
  }

  @include media-query($medium) {
    p, quote {
      text-align: justify;
    }
  }
}

footer {
  color: #34495e;
  font-weight: 300;
  font-size: 0.85em;

  a {
    color: #34495e;

    &:hover, &:focus {
      color: #222;
    }
  }
}