$font-sans: "IBM Plex Sans", "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", Helvetica, sans-serif !default;

$font-family-default: $font-sans;
$font-family-alternative: $font-sans;

$font-weight-default: 400 !default;
$font-weight-bold: 700 !default;

$base-line-height: 1.7 !default;

$spacing-unit:     2rem !default;

$text-color:       #222 !default;
$brand-color:      #2a7ae2 !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;
