.wrapper, nav, section.description, nav aside, .consortium, .container section, footer ul {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

nav a, nav aside, footer ul li {
  flex: 1;
}

.wrapper {
  max-width: 1120px;
  width: calc(100% - #{$spacing-unit});
  margin: $spacing-unit / 2 $spacing-unit / 2 0;
  padding: 0;
}

@include media-query($on-palm) {
  .wrapper {
    margin: $spacing-unit / 2 auto 0;
  }
}

@include media-query($on-laptop) {
  .wrapper {
    margin: $spacing-unit / 2 auto 0;
  }
}

nav aside {
  align-items: center;
  justify-content: flex-end;

  ul li {
    margin-left: $spacing-unit / 4;
  }
}

section.description {
  align-items: center;
  justify-content: center;
  margin: $spacing-unit 0;
  width: 100vw;

  h2 {
    margin-bottom: $spacing-unit;
  }

  .consortium {
    width: 100%;
    margin: $spacing-unit auto 0;
    display: flex;
    justify-content: space-around;

    li {
      text-align: center;
      padding: $spacing-unit 0;
      height: 100%;
      width: 28%;

      figcaption {
        margin-top: $spacing-unit / 2;
      }
    }
  }

  @include media-query($on-palm) {
    .consortium {
      margin: 2 * $spacing-unit auto 0;

      li {
        flex: 1;
        padding: $spacing-unit $spacing-unit / 2;
      }
    }
  }

  @include media-query($on-laptop) {
    .consortium {
      margin: 2 * $spacing-unit auto 0;

      li {
        flex: 1;
        padding: $spacing-unit $spacing-unit / 2;
      }
    }
  }
}

@include media-query($on-palm) {
  section.description {
    margin: $spacing-unit 5vw;
    width: 90vw;
  }
}

@include media-query($on-laptop) {
  section.description {
    margin: $spacing-unit * 4 10vw;
    width: 80vw;
  }
}

.container {
  padding: $spacing-unit 0;

  article {
    margin-bottom: $spacing-unit;

    section {
      border-bottom: 1px solid #fff;
      padding: $spacing-unit 0;

      &:last-of-type {
        border-bottom: 0;
      }

      p {
        margin-bottom: $spacing-unit;

        p:last-of-type {
          margin-bottom: 0;
        }
      }

      @include media-query($on-palm) {
        h1, p, div {
          width: 100%;
        }
      }

      @include media-query($on-laptop) {
        h4 {
          flex: 1;
        }

        p, div {
          flex: 2;
          padding: 0 $spacing-unit;
        }
      }
    }
  }

  @include media-query($on-palm) {
    article {
      margin-bottom: 2 * $spacing-unit;
    }
  }

  @include media-query($on-laptop) {
    article {
      margin-bottom: 2 * $spacing-unit;
    }
  }
}

footer {
  padding: $spacing-unit 0;

  ul {
    margin-top: $spacing-unit;
  }
}

@include media-query($on-palm) {
  footer {
    padding: 2 * $spacing-unit 0;
  }
}

@include media-query($on-laptop) {
  footer {
    padding: 2 * $spacing-unit 0;
  }
}
